.nav{
    height: 50px;
    background-color: rgb(142, 68, 173);
    display: flex;
}
.logo{
    height: 50px;
    line-height: 50px;
    width:15%;
    background-color: white;
}
.nav .link a{
    padding: 10px;
    width:50%;
    line-height: 50px;
    color:white;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
    margin-right: 50px;
    padding-left: 20px;
    text-align: center;
    
}
.search{
    width:35%;
    line-height: 50px;
   
}
.search input{
    height: 30px;
}
.submit{
    background-color: rgb(46, 204, 113);
    border: none;
    height: 30px;
    border-radius: 4px;
}